<div class="container">
  <app-card 
    *ngIf="socio"
    [title]="socio.nombre"
    [cardClass]="getCardClass()">
    
    <div class="membership-info">
      <div class="icon" [ngClass]="getIconClass()">
        {{ getEstadoIcon() }}
      </div>
      <div class="info">
        <p><strong>DNI:</strong> {{ socio.dni }}</p>
        <p><strong>N° Socio:</strong> {{ socio.nro_socio }}</p>
      </div>
      <div class="badge" [ngClass]="getBadgeClass()">
        {{ socio.estado_pago }}
      </div>
    </div>
    
  </app-card>
</div>