<div class="month-selector">
  <app-button [text]="'◀'" [buttonClass]="'secondary'" (click)="prevYear()">
  </app-button>

  <app-button *ngIf="showMonth" [text]="'◀'" [buttonClass]="'secondary'" (click)="prevMonth()">
  </app-button>

  <div class="month-display">
    <span *ngIf="showMonth">{{ getMonthName(mes) }} </span>
    <span>{{ anio }}</span>
  </div>

  <app-button *ngIf="showMonth" [text]="'▶'" [buttonClass]="'secondary'" (click)="nextMonth()">
  </app-button>

  <app-button [text]="'▶'" [buttonClass]="'secondary'" (click)="nextYear()">
  </app-button>
</div>