<div class="buttons-wrapper">
  <app-button [disabled]="!haySeleccion()" [text]="'Cargar pagos efectivos'" [onClick]="cargarPagosEfectivo">
  </app-button>
  <app-button [disabled]="!haySeleccion()" [text]="'Cargar pagos transferencia'" [onClick]="cargarPagosTransferencia">
  </app-button>
  <app-button [text]="'Crear Socio'" [onClick]="createMembership">
  </app-button>
</div>
<app-ag-table [rowData]="rowData" [colDefs]="colDefs" [defaultColDef]="defaultColDef"
  [pinnedBottomRowData]="pinnedBottomRowData" (gridReadyEvent)="onGridReady($event)">
</app-ag-table>