.buttons-wrapper {
    padding: 8px 0;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
}

::ng-deep app-month-selector {
  margin: 0 auto;
  display: block;
  width: fit-content;
}