@use '../../../../../styles/variables' as *;

:host {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

div {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: auto;
  height: 1.2rem;
  cursor: pointer;
}

label {
  font-weight: 600;
  color: $secondary-color;
  font-size: 0.95rem;
  cursor: pointer;
}

.text-danger {
  color: $danger-color;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
}