.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.buttons-wrapper {
    padding: 8px 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}